<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0121)https://crsorgii-govi.com/web/index.php/auth/birthCertificate/view/B/bWF4VExRZC9GTnhBWkhtZTNrdWhUZz09?id=====Ijg1OTQ0Ig== -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hi" lang="hi"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="0">
      
      <meta name="title" content="Civil Registration System">
      <title>Civil Registration System</title>
      <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
      <link rel="shortcut icon" href="./images/crs-logo.png">
      <link rel="shortcut icon" href="https://crsorgii-govi.com/web/index.php/auth/birthCertificate/view/B/web/images/index.php/auth/deathCertificate/view/imagesdownload.gif">
      <link rel="stylesheet" href="index.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
   <style>#inspect-element-top-layer * { all: unset; }</style>
   </head>
   <body style="zoom: 1;">
      <div class="fixed_modal">
         <div class="fixed_inner" style="background-color:white; padding:15px; width:200px; margin: 230px 0px 0px 548px; ">
            <p><b>Birth Reporting</b> <a href="javascript:void(0)" class="closedeathpopup" style="float: right;
               font-size: 17px;
               font-family: cursive; text-decoration:none; color: red;"><b>X</b></a></p>
            <form method="post" action="https://crsorgii-govi.com/web/index.php/auth/birthCertificate/view/B/bWF4VExRZC9GTnhBWkhtZTNrdWhUZz09?id=====Ijg1OTQ0Ig==" onsubmit="return false;"></form>
               <p><strong>From</strong></p>
               <p><input type="text" name="datefrom" autocomplete="off" id="datepicker" value="" style="padding:5px;"></p>
               <p><strong>To</strong>
               </p><p>
               </p><p><input type="text" name="dateto" autocomplete="off" id="datepicker1" value="" style="padding:5px;"></p>
               <p><input type="button" onclick="Export_to_Excel_box_birth();" class="btn" name="submit" value="Export" style="width: 70px;"></p>
            
         </div>
      </div><div class="fixed_modal1">
         <div class="fixed_inner" style="background-color:white; padding:15px; width:200px;     margin: 230px 0px 0px 548px; ">
            <p><b>Death Reporting</b> <a href="javascript:void(0)" class="closedeathpopup" style="float: right;
               font-size: 17px;
               font-family: cursive; text-decoration:none; color: red;"><b>X</b></a></p>
            <form method="post" action="https://crsorgii-govi.com/web/index.php/auth/birthCertificate/view/B/bWF4VExRZC9GTnhBWkhtZTNrdWhUZz09?id=====Ijg1OTQ0Ig==" onsubmit="return false"></form>
               <p><strong>From</strong></p>
               <p><input type="text" name="datefrom" id="datepicker2" value="" autocomplete="off" style="padding:5px;"></p>
               <p><strong>To</strong>
               </p><p>
               </p><p><input type="text" name="dateto" autocomplete="off" id="datepicker3" value="" style="padding:5px;"></p>
               <p><input type="button" onclick="Export_to_Excel_box_death();" class="btn" name="submit" value="Export" style="width: 70px;"></p>
            
         </div>
      </div><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr style="padding: 0px !important; margin: 0px !important; line-height: 0px !important; float: left !important; height: 0px !important;">
         <td>
            <style>
               .s-menu {
               visibility: hidden;
               position: absolute;
               right: -113px;
               margin-top: -25px;
               padding-left: 0px;
               }
            </style>
         </td>
      </tr>
      <tr>
         <td class="header-top-strip">
            <div id="head">
               <div class="logo">
                  <a href="https://crsorgii-govi.com/web/index.php/"><img alt="" title="" border="0" width="297" height="125" src="./Civil Registration System_files/logo-top.jpg"></a>
               </div>
               <div style="position: absolute; right: 20px; top: 20px;">
               </div>
               <div style="position: absolute; right: 0px; top: 85px;">
                  <ul id="sddm" style="margin:11px 1px 0px 0px !important;">
                     <li><a href="https://crsorgii-govi.com/web/index.php/">Home</a></li>
                     <!--Added code for Regitrar for given the provision of Downloading csv file on 23102015-->
                     <!--End code-->
                     <li><span>Master</span></li>
                     <li><span>User Management</span></li>
                     <!--Added code by ALi for Payment Seprate Modules-->
                     <!--End code-->
                     <li><span>Birth</span></li>
                     <li><span>Death</span></li>
                     <li><span>Still Birth</span></li>
                     <li><span>Reports</span></li>
                     <li><a style="border:none" href="https://crsorgii-govi.com/web/index.php/auth/Logout">Logout</a></li>
                  </ul>
               </div>
            </div>
         </td>
      </tr>
      <!--birth start-->
      <style>
         .fixed_modal {
         position: fixed;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.7);
         z-index: 99;
         display: none;
         }
         .fixed_modal1 {
         position: fixed;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.7);
         z-index: 99;
         display: none;
         }
      </style>
      
      
      <!-- birth end-->
      <tr>
         <td valign="middle" class="welcome-strip-bg" style="border: none !important;">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="96%">
               <tbody>
                  <tr>
                     <td align="left" width="46%" class="welcome-clock">
                        <div class="datetime">
                           <span id="live_date"></span>
                           <span id="live_clock"></span>
                        </div>
                     </td>
                     <td class="welcome-clock" colspan="2" align="right">
                        <label class="welcome-welcome">WELCOME&nbsp;:&nbsp;</label>
                        <label class="welcome-user-name">
                           &nbsp;()
                           <!-- <span style="font-weight:normal;">Registration Unit No :</span>  -->
                        </label>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>&nbsp;</td>
      </tr>
      <tr>
         <td>
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
               <tbody>
                  <tr>
                     <td align="left" width="46%">
                        <div id="breadcrumbs" class="masterBreadCrumbs">
                           <span class="breadCrumbSpan1">You are here:</span>
                           <span class="breadCrumbSpan2">
                           <a href="https://crsorgii-govi.com/web/index.php/">Home</a>
                           » <strong>Birth</strong>
                           » <a href="https://crsorgii-govi.com/web/index.php/birth/birthSearchAll">Birth Search</a>
                           » <strong>Birth Cert.</strong>
                           </span>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>&nbsp;</td>
      </tr>
      <style>
         #sddm {
         display: none;
         }
         .welcome-welcome {
         display: none;
         }
         .welcome-user-name {
         display: none;
         }
         .breadCrumbSpan1 {
         display: none;
         }
         .breadCrumbSpan2 {
         display: none;
         }
         .header-top-strip {
         display: none;
         }
         .masterBreadCrumbs {
         display: none;
         }
         .welcome-strip-bg {
         display: none;
         }
      </style>
      <style type="text/css">
         .certificate-title {
         color: #000000;
         font-family: "Times New Roman", Times, serif;
         font-size: 24px;
         font-weight: bold;
         }
         .lable-text {
         color: #000000;
         font-family: "Times New Roman", Times, serif;
         font-size: 12px;
         font-weight: bold;
         }
         .normal-text {
         color: #000000;
         font-size: 12px;
         font-weight: normal;
         text-transform: uppercase;
         }
      </style>
      <tr>
         <td align="center">
            <form action="https://crsorgii-govi.com/web/index.php/auth/birthCertificate/view/B/bWF4VExRZC9GTnhBWkhtZTNrdWhUZz09?id=====Ijg1OTQ0Ig==" name="frmBirthCertificate" id="frmBirthCertificate" class="print">
               <table border="0" cellpadding="0" cellspacing="0" width="96%">
                  <tbody>
                     <tr>
                        <td class="form-title" align="center" height="32" style="background: linear-gradient(white,rgb(32, 209, 240));">&nbsp;</td>
                     </tr>
                     <tr>
                        <td class="form-content-bg" align="center">
                           <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                 <tr>
                                    <td>&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td align="center" valign="top">
                                       <table id="printCertificationForm">
                                          <tbody><tr>
                                             <td>
                                                <table class="certificate-border-normal" border="0" cellpadding="0" cellspacing="0" width="800">
                                                   <tbody>
                                                      <tr>
                                                         <td colspan="3" height="3"></td>
                                                      </tr>
                                                      <tr>
                                                         <td>&nbsp;</td>
                                                         <td>
                                                            <table class="certificate-border-bold" border="0" cellpadding="0" cellspacing="0" width="831">
                                                               <tbody>
                                                                  <tr>
                                                                     <td valign="top" width="588">
                                                                        <table class="certificate-border-bold" border="0" cellpadding="0" cellspacing="0" width="831" style="text-transform:uppercase">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="center" valign="top" width="10">&nbsp;</td>
                                                                                 <td align="center" valign="top" width="20">&nbsp;</td>
                                                                                 <td align="center" valign="top" width="76">&nbsp;</td>
                                                                                 <td align="center" valign="top" width="20">&nbsp;</td>
                                                                                 <td align="center" valign="top" width="10">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">
                                                                                    <img width="58" height="70" src="./images/emb-forms.png" alt="">
                                                                                 </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td rowspan="9" align="center" valign="top">
                                                                                    <table>
                                                                                       <tbody><tr>
                                                                                          <td class="text-line-height normal-text" valign="Bottom">
                                                                                             <span lang="hi">
                                                                                             सं.</span>&nbsp;1 
                                                                                             
                                                                                             <br>
                                                                                          </td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td class="text-line-height normal-text" valign="Bottom">
                                                                                             No.&nbsp;1
                                                                                          </td>
                                                                                    
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td>&nbsp;</td>
                                                                                          
                                                                                       </tr>
                                                                                       
                                                                                       <tr>
                                                                                          <td>
                                                                                             <div style="border: 1px solid black; margin-top: -14px;">
                                                                                             </div>
                                                                                          </td>
                                                                                       </tr>
                                                                                    </tbody></table>
                                                                                    <img src="./images/l.jpg" alt="" style="height: 58px;width: 70px;">
                                                                                 </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 
                                                                                 <td class="text-line-height normal-text" rowspan="9" align="center" valign=" middle">
                                                                                    <table>
                                                                                       <tbody><tr>
                                                                                          <td class="text-line-height normal-text" valign="Bottom">
                                                                                             <span >
                                                                                                प्रपत्र</span>&nbsp;-5 
                                                                                             
                                                                                             <br>
                                                                                          </td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td class="text-line-height normal-text" valign="Bottom">
                                                                                             FORM&nbsp;-5
                                                                                          </td>
                                                                                    
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td>&nbsp;</td>
                                                                                          
                                                                                       </tr>
                                                                                       
                                                                                       
                                                                                    </tbody></table>
                                                                                    <img src="./images/Screenshot from 2025-03-21 20-50-43.png" alt="" style="height: 58px;width: 70px;">
                                                                                 </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td class="text-line-height normal-text" align="center" valign="top">
                                                                                    <span lang="hi">
                                                                                    बिहार सरकार                                                                                    </span>
                                                                                    <br>
                                                                                 </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top" class="lable-text">
                                                                                    GOVERNMENT OF BIHAR	 
                                                                                 </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top"></td>
                                                                                 <td align="center" valign="top"></td>
                                                                                 <td align="center" valign="top"></td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top" class="lable-text">
                                                                                    <span lang="hi">
                                                                                    योजना और विकास विभाग                                                                                    </span> <br>
                                                                                    DEPARTMENT OF PLANNING AND DEVELOPMENT	                                                                                 </td>
                                                                                 <td align="center" valign="top" class="lable-text"></td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top"></td>
                                                                                 <td align="center" valign="top"></td>
                                                                                 <td align="center" valign="top"></td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top"></td>
                                                                                 <td align="center" valign="top"></td>
                                                                                 <td align="center" valign="top"></td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <!--// Added by Naveen 30-04-2016 at 11:02 am for maintaining the history of registration unit (start)-->
                                                                                 
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top" class="normal-text"></td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top" class="certificate-title">
                                                                                    <span lang="hi">
                                                                                       जन्म प्रमाण पत्र</span> <br>
                                                                                    BIRTH CERTIFICATE
                                                                                 </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td colspan="3" align="justify" valign="top" class=" text-line-height normal-text">
                                                                                    <span lang="hi"><br>
                                                                                    </span>
                                                                                                                                                                    </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                        
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td colspan="3" align="justify" valign="top" class="text-line-height normal-text">
                                                                                    <!--// Added by Naveen 30-04-2016 at 11:02 am for maintaining the history of registration unit (start)-->
                                                                                    <span lang="hi">
                                                                                                                                                                       </span>
                                                                                                                                                                       
                                                                                    <!--// Added by Naveen 30-04-2016 at 11:02 am for maintaining the history of registration unit (end)-->
                                                                                    <br>
                                                                                    
                                                                                    <p>(जन्म मृत्यु रजिस्ट्रीकरण अधिनियम, 1969 की धारा 12/17 तथा बिहार जन्म मृत्यु रजिस्ट्रीकरण नियम, 2002 के नियम 8/13 के अंतर्गत जारी किया गया)<br>
   (ISSUED UNDER SECTION 12/17 OF THE REGISTRATION OF BIRTHS & DEATHS ACT, 1969 AND RULE 8/13 OF THE BIHAR REGISTRATION OF BIRTHS & DEATHS RULES 2002.)
</p>
<%for(let post of posts){%>
<p>
   यह प्रमाणित किया जाता है निम्नलिखित सूचना जन्म के मूल अभिलेख से ली गई है जो कि <%= post.hihosp%> तहसील <%= post.hiblock %> जिला <%= post.hdist%> राज्य/संघ प्रदेश बिहार, भारत के रजिस्टर में उल्लिखित है ।<br> THIS IS TO CERTIFY THAT THE FOLLOWING INFORMATION HAS BEEN TAKEN FROM THE ORIGINAL RECORD OF BIRTH WHICH IS THE REGISTER FOR <%= post.hospital %> OF TAHSIL/BLOCK <%= post.block1 %> OF DISTRICT <%= post.district1 %> OF 
   STATE/UNION TERRITORY BIHAR, INDIA.   
</p>
                                                                                 </td>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td align="center" valign="top">&nbsp;</td>
                                                                                 <td colspan="3" align="center" valign="top">
                                    
                                       <table width="100%">
                                          <tbody><tr>
                                             <td width="40%" align="left" class="text-line-height normal-text">
                                                <span lang="hi">
                                                नाम </span>/
                                                Name:
                                                <span lang="hi">
                                                <%=post.name%>                                                                                             </span>
                                             </td>
                                             <td width="20%"></td>
                                             <td width="40%" class="text-line-height normal-text" style="text-align: left">
                                                <span lang="hi">
                                                लिंग </span>/
                                                Sex:
                                                <span lang="hi">
                                                <%= post.gender%>                                                                                            </span>
                                             </td>
                                          </tr>
                                          <!-- ---------------------------------------------------------------------------------  -->
                                                                                                                                 <!-- Start of Block to Print Child UID in Certificate -  26-Dec-2014
                                             <!-- ------------------------------------------------------------------------------post.likes---  -->
                                          <tr>
                                             <td align="left" class="text-line-height normal-text" valign="top" style="padding-top: 10px">
                                                <span lang="hi">   जन्म तिथि</span>/
                                                Date of Birth:
                                                <br>
                                                <%= post.birth%> <br>
                                                <% 
                                                function dateToWords(dateString) {
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    
    const suffixes = { 1: "st", 2: "nd", 3: "rd", 21: "st", 22: "nd", 23: "rd", 31: "st" };
    
    function numberToWords(num) {
        const belowTwenty = ["", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"];
        const tens = ["", "", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"];
        if (num < 20) return belowTwenty[num];
        if (num < 100) return tens[Math.floor(num / 10)] + (num % 10 ? " " + belowTwenty[num % 10] : "");
        if (num < 1000) return belowTwenty[Math.floor(num / 100)] + " Hundred" + (num % 100 ? " " + numberToWords(num % 100) : "");
        return "";
    }

    function yearToWords(year) {
        if (year < 2000) {
            return numberToWords(year);
        } else if (year < 2010) {
            return "Two Thousand" + (year % 2000 !== 0 ? " " + numberToWords(year % 2000) : "");
        } else if (year < 2100) {
            return "Two Thousand " + numberToWords(year % 100);
        } else {
            return numberToWords(Math.floor(year / 100)) + " Hundred" + (year % 100 ? " " + numberToWords(year % 100) : "");
        }
    }

    let date = new Date(dateString);
    if (isNaN(date)) return "Invalid date";

    let day = date.getDate();
    let month = months[date.getMonth()];
    let year = date.getFullYear();

    let suffix = suffixes[day] || "th";

    return `${numberToWords(day)} of ${month} ${yearToWords(year)}`;
}


        var date = post.birth; 
    %>

    <p><%= dateToWords(date) %></p>                                                                                        </td>
                                             <td></td>
                                             <td class="text-line-height normal-text" style="padding-top: 10px; text-align: left">
                                                <span lang="hi">
                                                जन्म स्थान</span>/
                                                Place of birth:
                                                <br>
                                                <span lang="hi">
                                                   <!--IF ADDRESS OUT OF INDIA-->
                                                   <%= post.address%>                                                                                              </span>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td align="left" class="text-line-height normal-text" style="padding-top: 20px" valign="top">
                                                <span lang="hi">
                                                माता का नाम / </span>
                                                Name of Mother: <br>
                                                <span lang="hi">
                                                <%=post.mother %>                                                                                             </span>
                                                <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- Start of Block to Print Mother's UID in Certificate -  26-Dec-2014
                                                   <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- End of Block to Print Mother's UID in Certificate -  26-Dec-2014
                                                   <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- Start of Block to Print Mother's Nationality in Certificate -  27052015
                                                   <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- End of Block to Print Mother's Nationality in Certificate -  27052015
                                                   <!-- ---------------------------------------------------------------------------------  -->
                                             </td>
                                             <td></td>
                                             <td align="left" class="text-line-height normal-text" style="padding-top: 20px; text-align: left" valign="top">
                                                <span lang="hi">
                                                पिता का नाम </span>/
                                                Name of Father : <br>
                                                <span lang="hi">
                                                <%= post.father%>                                                                                             </span>
                                                <!-- ---------------------------------------------------------------------------------  -->
                                                <!-- Start of Block to Print Father's UID in Certificate -  26-Dec-2014
                                                   <!-- ---------------------------------------------------------------------------------  -->
                                          </td></tr><tr>
                                             <td align="left" class="text-line-height normal-text" style="padding-top: 10px" valign="top">
                                                <span lang="hi">
                                                </span> आधार संख्या /
                                                MOTHER'S AADHAR:
                                                <br>
                                                <!--Outside India Address-->
                                                <!--inside India Address-->
                                                <span lang="hi">
                                                                                                                                             XXXXXXXX<%= post.motheroaadhar %><p></p>
                                                                                                                                             </span>
                                                <!-- This is the block to the get Specifice Langguage. Written by Pawan Kumar -->
                                                <!-- This is the block to the get Specifice Langguage. Written by Pawan Kumar --> 
                                             </td>
                                             <td></td>
                                             <td class="text-line-height normal-text" style="padding-top: 5px; " valign="top">
                                                <span lang="hi">
                                                </span> आधार संख्या /
                                                FATHER'S AADHAR
                                                <br>
                                                <!--Outside Inida Address-->
                                                <!--Inside India Address-->
                                                <span lang="hi">
                                                   XXXXXXXX<%= post.fatheroaadhar %>                                                                                                                                                                                          </span>
                                                <!--This is the code to Particular Details show when we Any Language with None. Written ON 11-Feb-15 -->
                                                <!--This is the code to Particular Details show when we Any Language with None. Written ON 11-Feb-15 -->
                                             </td>
                                          </tr>
                                          <!-- ---------------------------------------------------------------------------------  -->
                                          <!-- End  of Block to Print Father's UID in Certificate -  26-Dec-2014
                                             <!-- ---------------------------------------------------------------------------------  -->
                                          <!-- ---------------------------------------------------------------------------------  -->
                                          <!-- Start of Block to Print Father's Nationality in Certificate -  27052015
                                             <!-- ---------------------------------------------------------------------------------  -->
                                          <!-- ---------------------------------------------------------------------------------  -->
                                          <!-- End  of Block to Print Father's Nationality in Certificate -  2705205
                                             <!-- ---------------------------------------------------------------------------------  -->
                                          
                                          
                                          <tr>
                                             <td align="left" class="text-line-height normal-text" style="padding-top: 10px" valign="top">
                                                <span lang="hi">
                                                बच्चे के जन्म के समय माता-पिता का पता </span> /
                                                Address of parents at the time of birth of the child:
                                                <br>
                                                <!--Outside India Address-->
                                                <!--inside India Address-->
                                                <span lang="hi">
                                                <%= post.place%>                                                                                             </span>
                                                <!-- This is the block to the get Specifice Langguage. Written by Pawan Kumar -->
                                                <br>
                                                <!-- This is the block to the get Specifice Langguage. Written by Pawan Kumar -->
                                             </td>
                                             <td></td>
                                             <td class="text-line-height normal-text" style="padding-top: 10px; " valign="top">
                                                <span lang="hi">
                                                माता-पिता के स्थायी पता</span> /
                                                Permanent address of parents:
                                                <!--Outside Inida Address-->
                                                <!--Inside India Address-->
                                                <br>
                                                <span lang="hi">
                                                <%= post.locate%>                                                                                             </span>
                                                <br>
                                                <!--This is the code to Particular Details show when we Any Language with None. Written ON 11-Feb-15 -->
                                                <!--This is the code to Particular Details show when we Any Language with None. Written ON 11-Feb-15 -->
                                             </td>
                                          </tr>
                                          <tr>
                                             <td align="left" class="text-line-height normal-text" style="padding-top: 10px" valign="top">
                                                <span lang="hi">
                                                पंजीकरण संख्या </span> /
                                                Registration Number: <br>
                                                B-2025: <%= post.registration%>                                                                                          </td>
                                             <td></td>
                                             <td class="text-line-height normal-text" style="padding-top: 10px; text-align: left" valign="top">
                                                <span lang="hi">
                                                पंजीकरण तारीख </span>/
                                                Date of Registration: <br>
                                                <% let currentDate = new Date(); %>
        <% let day = currentDate.getDate(); %>
        <% let month = currentDate.getMonth() + 1; %> <!-- Months are zero-based -->
        <% let year = currentDate.getFullYear(); %>
        <%= day %>/<%= month %>/<%= year %>                                                                                          </td>
                                          </tr>
                                          <tr>
                                             <td align="left" class="text-line-height normal-text" style="padding-top: 20px">
                                                <span lang="hi">
                                                टिप्पणी (यदि कोई हो) </span>/
                                                Remarks (if any):
                                                <br>---
                                             </td>
                                             <td></td>
                                             <!--<td class="text-line-height normal-text" style="padding-top: 20px; text-align: left;">
                                                <span lang="hi">प्राधिकारी के हस्ताक्षर</span> / Signature of the issuing authority
                                                </td>-->
                                          </tr>
                                          <tr>
                                             <td></td>
                                             <td></td>
                                             <td align="center">
                                                <table>
                                                   <tbody><tr>
                                                      <td style="width:100%"></td>
                                                      <td></td>
                                                      <td style="width:100%"></td>
                                                   </tr>
                                                </tbody></table>
                                             </td>
                                          </tr>
                                          <tr>
                                          </tr>
                                          <tr>
                                          </tr>
                                          <tr>
                                             <td align="left" class="text-line-height normal-text" valign="top" style="padding-top: 20px">
                                                <span lang="hi">
                                                जारी करने की तिथि</span> /
                                                Date of issue: <br>
                                                <%= day %>/<%= month %>/<%= year %>                                                                                         </td>
                                             <td></td>
                                             <td class="text-line-height normal-text" style="padding-top: 20px; text-align: left;">
                                                <span lang="hi">
                                                प्राधिकारी के हस्ताक्षर / </span>
                                                Issuing Authority :
                                                <br>
                                                <div style="float: left;">
                                                   
                                                </div>
                                             </td>
                                          </tr>
                                          <!--// Added by Naveen 30-04-2016 at 11:02 am for maintaining the history of registration unit (start)-->
                                          <tr>
                                             <td class="text-line-height normal-text" style="padding-top: 20px; text-align: left;">
                                                Updated on :
                                                <br>
                                                <p>
        <% let hours = currentDate.getHours(); %>
        <% let minutes = currentDate.getMinutes(); %>
        <% let seconds = currentDate.getSeconds(); %>
        
        <%= day %>/<%= month %>/<%= year %> <%= hours %>:<%= minutes %>:<%= seconds %>
    </p>
                                                                                   </td>
                                          </tr>
                                          <!--// Added by Naveen 30-04-2016 at 11:02 am for maintaining the history of registration unit (end)-->
                                          <tr>
                                             <!--// Added by Anupam 02-05-2016 at 5:30 PM for Qrcode integration (end)-->
                                             <td align="left" valign="top">
                                                <canvas id="qr-code"></canvas>
                                                <script>
               window.onload = function() {
                 try {
                  // Get the current URL
                    const currentUrl = window.location.href;
                     const name = encodeURIComponent("<%= post.name %>");
                     const registration = encodeURIComponent("<%= post.registration %>");
                     const date = encodeURIComponent("<%= post.birth %>");
                     const address = encodeURIComponent("<%= post.address %>");
                     const father = encodeURIComponent("<%= post.father %>");
                     const mother = encodeURIComponent("<%= post.mother %>");
                    // Generate the QR code
                     const qr = new QRious({
                     element: document.getElementById('qr-code'), // Target the canvas
                     padding: 0, // No padding
                     level: 'H', // Error correction level
                     foreground: 'black', // QR code color
                     // Set the size of the QR code
                     // The size of the QR code in pixels
                     // The size of the QR code in pixels
                     size: 90, // Size of the QR code
                     value: `${currentUrl.replace("posts", "qrcode")}?name=${name}&registration=${registration}&date=${date}&address=${address}&father=${father}&mother=${mother}`, // Encode the current URL
                     background: 'transparent' // Set the background to transparent
                     });
                  console.log("QR code value:", `${currentUrl.replace("posts", "qrcode")}?name=${name}&registration=${registration}&date=${date}&address=${address}&father=${father}&mother=${mother}`);
                  console.log("QR code generated successfully!");
                 } catch (error) {
                  console.error("Error generating QR code:", error.message);
                 }
               };
              </script>
                                             </td>
                                             <!--// Added by Anupam 02-05-2016 at 5:30 PM for Qrcode integration (end)-->
                                             <td></td>
                                             <!-- End 12-04-2016--2 Anupam -->
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td align="left" valign="top">&nbsp;</td>
                                 <td colspan="3" align="center" valign="top" class="text-line-height welcome-clock" style="padding-top: 20px">
                                 </td>
                                 <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td align="center" valign="top">&nbsp;</td>
                                 <td colspan="3" align="center" valign="top" class="text-line-height normal-text">
                                    <br>"This is a computer generated certificate which
                                    contains facsimile signature of the Issuing Authority"
                                    <br>"
                                    The Govt. of India vide circular No. 1/12/2014-VS(CRS) dated
                                    27-July-2015 has <br> approved this certificate as a valid legal
                                    document for all official purposes".
                                    <br>
                                    <span lang="hi">"
                                       प्रत्येक जन्म एवं मृत्यु का पंजीकरण सुनिश्चित करें"  /
                                    </span>
                                    "ENSURE REGISTRATION OF EVERY BIRTH AND DEATH"
                                 </td>
                                 <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                  <td align="center" valign="top">&nbsp;</td>
                                 <td align="center" valign="top">&nbsp;</td>
                                 <td align="center" valign="top"><img src="./images/qrpdf1.png" style="width:300px;height:25px">
<!--- src="https://www.scandit.com/wp-content/themes/scandit/barcode-generator.php?symbology=code128&value=B-2024: 10-90347-00251&size=400&ec=L"
style="width:300px;height:25px"></center> --->
                                 </td><td align="center" valign="top">&nbsp;</td>
                                 <td align="center" valign="top">&nbsp;</td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
         <td>&nbsp;</td>
      </tr>
      <tr>
         <td colspan="3" height="3"></td>
      </tr>
   </tbody>
</table>
</td>
</tr>
</tbody></table>
                                    <%}%>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td align="center">
                                       <table width="32%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody><tr>
                                             <!-- <td class="btn">
                                                <a class="btn" width="400" target="_blank" href="/web/index.php/qrcode/changeQr/Id//page/auth-certificate">Generate QR</a>
                                                
                                                </td>
                                                                    <td>&nbsp;</td>-->
                                             <td class="btn">
                                                <a class="btn" target="" onclick="printPage()">Print</a>
                                            
                                             </td>
                                             <td>&nbsp;</td>
                                             <td class="btn">
                                                <a class="btn" target="" href="https://crsorgi.gov.in/">HOME</a>
                                             </td>
                                             <td>&nbsp;</td>
                                          </tr>
                                          <!--ip base-->
                                          <!--ip base-->
                                          <tr>
                                          </tr>
                                          </tbody>
                                       </table>
                                       <!-- </td>
                                          </tr>-->
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>
            
            </td>
            </tr>
            <!--END FROM HERE TO BI-LINGUAL CERTIFICATE ONLY 31-DECE-2014 BY PAWAN-->
            </tbody></table>
   
</form></td></tr></tbody></table><div id="inspect-element-top-layer" popover="auto" data-inspect-element="inspectElement" style="pointer-events: none; border: unset; padding: 0px;"></div><script src="chrome-extension://hhojmcideegachlhfgfdhailpfhgknjm/web_accessible_resources/index.js"></script>
<script>
   function printPage() {
            window.print();
        }</script>
</body>
</html>